.App {
  text-align: center;
}

.AppContent {
  padding: 2vh 2vw;
  font-size: 5vh;
}

.Controls {
  display: flex;
  flex-flow: column;
  padding: 2vh 2vw;
  font-size: 5vh;
}

.Input {
  height: 4vh;
  width: 25vw;
  font-size: 3.5vh;
}

.Button {
  height: auto;
  margin: 1vh 0;
  width: 15vw;
  font-size: 3vh;
  border-radius: 5px;
}